@import url("reset.css");

body {
	font-family: "Helvetica neue", Helvetica, Tahoma, Verdana, sans-serif;
	background-color: #ddd; 
}
h3 {
	font-size: 20px;
	font-weight: bold;
}

.wrapper {
	width: 960px;
	/*border: 1px solid #000;*/
	margin: 0 auto;
	position  : relative;
    background: white;
    padding: 20px;
	
}
.menu {
	width: 400px;
	margin: 0 auto;
	/*border: 3px solid green;*/
	padding-bottom: 5px;
	text-align:center;
}
	.i, .s {
		/*float:left;*/
		width: 180px;
		height: 20px;
		border: 3px solid #ccc;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		padding: 10 30px;
		text-align:center;
	}

/*
	Изначально обе вкладки невидимые
*/
.content {
	display: none;
}

/************** таблица вывода статей из БД *******************/
.tb_search {
	border: 1px solid #000;
	border-collapse: collapse;
	margin: 0 auto;
}
.tb_search TD, TH {
    border: 1px solid black;
}
.tb_search TD {
    padding: 10px 0 10px 10px;
}
.tb-search-name {
	/**/
	/*border: 1px solid red;*/
	width: 400px;
	text-align: center;
	padding: 10px 0;
}

.tb-search-link {
	/**/
	/*border: 1px solid green;*/
	width: 250px;
	text-align: center;
	padding: 10px 0;
}

.tb-search-size {
	/**/
	/*border: 1px solid blue;*/
	width: 120px;
	text-align: center;
	padding: 10px 0;
}

.tb-search-count {
	/**/
	/*border: 1px solid black;*/
	width: 100px;
	text-align: center;
	padding: 10px 0;
}


/********************* список статей в директории ********************/
.div_articles_list {
	display: none;
}
.select_articles_list {
	margin-bottom: 20px;
}

/******************** поиск статей в БД ****************************/
.search-wrapper {
	/*border: 1px solid #000;*/
	/*position: relative;*/
}

.search-div {
	/**/
}

.show-list-of-articles {
	float: left;
	width: 400px;
	/*border: 1px solid red;*/
	margin: 10px;
	min-height: 100px;
	display: inline-block;
}

.show-one-article {
	display: inline-block;
	margin: 10px;
	border: 1px solid #000;
	min-height: 100px;
	width: 500px;
	padding: 4px;
}

.search_wrap_div {
	margin: 10px 0;
	/*border: 1px solid red;*/
}


